.reviews_slider {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 5px 40px rgb(0 0 0 / 5%);

  .item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    user-select: none;
    font-family: "Felix Titling", sans-serif;
    height: 335px;
    line-height: 29px;
    letter-spacing: 0.05em;
    padding: 50px 50px 53px 50px;
    background-color: white;

    p {
      font-size: 15px;
      text-align: left;
      padding-bottom: 29px;
    }

    .author {
      text-align: right;
      letter-spacing: 0;
      margin-right: 20px;
      font-weight: bold;
    }
  }
}

