.footer-menu {
  min-height: 70px;
  background: #000;
  font-size: 16px;

  &_wrapper {
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px 0 0;
      text-align: center;

      &_item {
        margin: 0 18px;
        font-size: 17px;
        cursor: pointer;

        .link {
          color: var(--white);
          &:hover {
            color: #01D3C5;
          }
        }
      }
    }
  }
}