.footer-menu {
  min-height: 70px;
  background: #000;
  font-size: 16px;

  &_wrapper {
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px 0 0;
      text-align: center;
      &_item {
        margin: 0 18px;
        color: #fff;
        font-size: 17px;
        cursor: pointer;

        &:hover {
          color: #01D3C5;
        }
      }
    }
  }
}