.intro {
  background: #fff;

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);

    .intro_description {
      width: 50%;
      padding-left: 100px;

      &__title {
        font-size: 50px;
        padding: 0;
        margin-bottom: 24px;
      }

      &__text {
        text-transform: uppercase;
        letter-spacing: 0.11em;
        font-size: 20px;
        margin-bottom: 33px;
      }

      &__great {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.11em;
        padding-top: 0;
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
    }

    .intro_banner {
      width: 50%;
      position: relative;
      right: 50px;

      .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

        video {
          object-fit: cover;
        }
      }

      .glitch-wrap{
        font-family: 'Dosis', sans-serif;
        animation: glitch 10s linear infinite;
      }

      @keyframes glitch{
        2%,64%{
          transform: translate(1px,0) skew(0deg);
        }
        4%,60%{
          transform: translate(-1px,0) skew(0deg);
        }
        62%{
          transform: translate(0,0) skew(3deg);
        }
      }

      div:before,
      div:after{
        content: attr(title);
        position: absolute;
        left: 0;
      }

      div:before{
        animation: glitchTop 5s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
      }

      @keyframes glitchTop{
        2%,64%{
          transform: translate(2px,-2px);
        }
        4%,60%{
          transform: translate(-2px,2px);
        }
        62%{
          transform: translate(13px,-1px) skew(-13deg);
        }
      }

      div:after{
        animation: glitchBotom 1.5s linear infinite;
        clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
      }

      @keyframes glitchBotom{
        2%,64%{
          transform: translate(-2px,0);
        }
        4%,60%{
          transform: translate(-2px,0);
        }
        62%{
          transform: translate(-22px,5px) skew(21deg);
        }
      }

      .svg {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
      }

      .svg1 {
        top: -120px;
      }

      .svg2 {
        top: 45px;
      }
      
      svg {
        z-index: 1000;
        transform-origin: 50% 50%;
        animation: move 24s ease-in-out infinite;
      }

      @keyframes move {
        0% {
          transform: scale(1) translate(0, 0) rotate(0);
          fill: var(--firstColor);
          filter: drop-shadow(20px 14px 10px var(--dropShadowColor));
        }
        25% {
          transform: scale(0.8) translate(5vw, 10vh) rotate(55deg);
          fill: var(--secondColor);
          filter: drop-shadow(14px 14px 6px var(--dropShadowColor));
        }
        50% {
          transform: scale(0.6) translate(15vw, 5vh) rotate(180deg);
          fill: var(--thirdColor);
          filter: drop-shadow(-16px -16px 16px var(--dropShadowColor));
        }
        75% {
          transform: scale(0.8) translate(5vw, 10vh) rotate(55deg);
          fill: var(--fourthColor);
          filter: drop-shadow(14px 14px 6px var(--dropShadowColor));
        }
        100% {
          transform: scale(1) translate(0, 0) rotate(0);
          fill: var(--firstColor);
          filter: drop-shadow(20px 14px 10px var(--dropShadowColor));
        }
      }

    }
  }
}