$white: #FFF;
$black: #000;

$container-width: 768px;
$container-height: 700px;
$container-bck: #F9FAFB;

$button-primary: #3B82F6;

$input-error: #EF4444;
$bck-input: #FFFFFF;
$br-input: #E5E7EB;
$bck-input-danger: #FEF2F2;
$br-input-danger: #FECACA;