@import 'variables';
@import 'libs/normalize';
@import 'fonts';
@import 'all';

:root
{
  --defColorText : #222222;
  --white: #ffffff;
  --black: #000000;

  --background-defoult: #191A1B;
  --background-header: #191A1B;
  --background-submenu: #202223;
  --backgroundColor: #232323;
  --backgroundWhite: #ffffff;
  --background-work: #090807;
  --background-portfolio: #191A1B;

  --color-hover-gray: #B5B5B5;

  // color for intro svg
  --firstColor: #00D69C;
  --secondColor: #C52AFC;
  --thirdColor: #FF1F00;
  --fourthColor: #FFD600;
  --dropShadowColor: rgba(0, 0, 0, .7);

  // base color
  --great-color-one: #2CBBDF;
  --great-color-two: #A573E0;
}

* {
  font-family: 'sf-pro-regular', serif;
}

.app{
  min-width: 320px;

  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
}





