.work {
  background: #090807;
  overflow: hidden;

  &_wrapper {
    display: flex;
    align-items: center;

    .drawing {
      width: 40%;
      margin: 0 auto;
      display: block;
      background-image: url('../../img/flower_one.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 0.5s ease;

       &:hover {
         transform: scale(1.07);
       }
      svg {
        display: none;
      }

      .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

        video {
          object-fit: cover;
        }
      }

      .glitch-wrap{
        font-family: 'Dosis', sans-serif;
        animation: glitch 10s linear infinite;
      }

      @keyframes glitch{
        2%,64%{
          transform: translate(1px,0) skew(0deg);
        }
        4%,60%{
          transform: translate(-1px,0) skew(0deg);
        }
        62%{
          transform: translate(0,0) skew(3deg);
        }
      }

      div:before,
      div:after{
        content: attr(title);
        position: absolute;
        left: 0;
      }

      div:before{
        animation: glitchTop 5s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
      }

      @keyframes glitchTop{
        2%,64%{
          transform: translate(2px,-2px);
        }
        4%,60%{
          transform: translate(-2px,2px);
        }
        62%{
          transform: translate(13px,-1px) skew(-13deg);
        }
      }

      div:after{
        animation: glitchBotom 1.5s linear infinite;
        clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
      }

      @keyframes glitchBotom{
        2%,64%{
          transform: translate(-2px,0);
        }
        4%,60%{
          transform: translate(-2px,0);
        }
        62%{
          transform: translate(-22px,5px) skew(21deg);
        }
      }

    }

    .text {
      margin: 204px 0 203px 0;
      width: 51%;
      color: #fff;

      .title {
        font-size: 40px;
        margin: 0 0 41px 0;
        color: #fff;

      }

      .desc, .desc2 {
        font-size: 18px;
        line-height: 27px;
        color: #fff;

      }

      .desc2 {
        margin-top: 20px;
        color: #fff;

      }
    }
  }
}