.work {
  background: var(--background-work);
  overflow: hidden;

  &_wrapper {
    display: flex;
    align-items: center;

    .drawing {
      width: 40%;
      margin: 0 auto;
      display: block;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.03);
      }

      .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

        video {
          object-fit: cover;
        }
      }
    }

    .text {
      margin: 204px 0 203px 0;
      width: 51%;
      color: #fff;

      .title {
        font-family: 'sf-pro-bold', serif;
        font-size: 40px;
        margin: 0 0 41px 0;
        color: #fff;
      }

      .desc, .desc2 {
        font-size: 18px;
        line-height: 27px;
        color: #fff;
      }

      .desc2 {
        margin-top: 20px;
        color: #fff;
      }
    }
  }
}